/* current custom CSS for store 7869206 2019-12-20 */
div#yards-output,
.ecwid-productBrowser-details-qtyPanel { float: left !important; clear: both !important; }
.ecwid-productBrowser-details-inTheBag { float: left !important; clear: both !important; }
span.ecwid-Invoice-productDescr-sku { display: initial !important; }
div.ecwid-productBrowser-sku,
td.ecwid-productBrowser-productsTable-sku,
span.ecwid-Invoice-productDescr-sku,
div.ecwid-OrdersList-OrderBox-sku { display: initial !important; }
.ecwid-productBrowser-details-like { display: none !important; }
.ecwid-productBrowser-categoryDescription,
.ecwid-productBrowser-details-descr,
.ecwid-productBrowser-subcategories-categoryName { line-height: 1.25; }
nav.horizontal-menu * { color: #704997 !important; }

/* original Theme Designer App Tweak CSS for store 7869206 2019-12-20 */
#tw_content,
#tw_content #content-area,
div.ecwid-productBrowser,
div.ecwid_facebook_app,
div.ecwid.horizontal-desktop,
.tiles > [data-block],
.ecwid.horizontal-menu-container,
div.ecwid.ecwid-categories,
nav.horizontal-menu {
  background-color: #e5cbec;
}
div.ecwid-productBrowser,
div.ecwid_facebook_app,
div.ecwid.horizontal-desktop,
.tiles > [data-block] {
  background-color: #f4e3fd;
}
td.ecwid-productBrowser-productsGrid-cell {
  padding-left: 0px;
  padding-right: 0px;
}
div.ecwid-categories {
  display: block;
}
.ecwid.horizontal-menu-container,
div.ecwid.ecwid-categories,
nav.horizontal-menu {
  background-color: transparent;
}
div#Categories-1,
.horizontal-desktop .horizontal-menu-item.horizontal-menu-item--hover>a,
.eshop-main-background .horizontal-desktop .horizontal-menu-item.horizontal-menu-item:hover>a,
.horizontal-menu-container.horizontal-desktop .horizontal-menu-item.horizontal-menu-item--hover>a,
.horizontal-menu-container.horizontal-desktop .horizontal-menu-item.horizontal-menu-item:hover>a {
  background-color: #dd99f0;
}
span.ecwid-categories-category,
.horizontal-mobile .horizontal-menu-button,
.horizontal-menu-container.horizontal-mobile .horizontal-menu-button,
.horizontal-menu.horizontal-menu--mobile .horizontal-menu-item>a,
.horizontal-desktop .horizontal-menu-item>a,
.horizontal-menu-container.horizontal-desktop .horizontal-menu-item>a,
nav.horizontal-menu.horizontal-menu--mobile .horizontal-menu-item>a {
  color: #dea7f1;
}
gwt-MenuItem-selected span.ecwid-categories-category,
div.ecwid-categoriesMenuBar td.gwt-MenuItem-current span.ecwid-categories-category,
td.ecwid-categories-vertical-table-cell-selected span.ecwid-categories-category,
table.ecwid-categoriesTabBar table.gwt-TabBarItem-selected span.ecwid-categories-category,
.horizontal-menu-item.horizontal-menu-item--active>a {
  color: #dea7f1;
}
.horizontal-desktop .horizontal-menu-item.horizontal-menu-item--hover>a,
.eshop-main-background .horizontal-desktop .horizontal-menu-item.horizontal-menu-item:hover>a,
.horizontal-menu-container.horizontal-desktop .horizontal-menu-item.horizontal-menu-item--hover>a,
.horizontal-menu-container.horizontal-desktop .horizontal-menu-item.horizontal-menu-item:hover>a {
  color: #efc1fb;
}
.horizontal-menu-container.horizontal-desktop .horizontal-menu-subParent,
.horizontal-desktop .horizontal-menu-subParent,
.horizontal-menu-item--back,
.horizontal-menu.horizontal-menu--mobile {
  background-color: #f6e8fd;
}
span.ecwid-categories-category,
.horizontal-menu,
.horizontal-menu-button,
.horizontal-menu.horizontal-menu--mobile,
.horizontal-desktop .horizontal-menu-item>a,
.horizontal-desktop .horizontal-menu-item>a span {
  font-size: 18px;
}
div.ecwid-categoriesMenuBar span.ecwid-categories-category {
  font-size: 18px;
}
div.ecwid-categories-MenuBarPopup div.ecwid-categoriesMenuBar span.ecwid-categories-category {
  font-size: 15px;
}
span.ecwid-categories-category,
.horizontal-menu,
.horizontal-menu-button,
.horizontal-menu.horizontal-menu--mobile,
.horizontal-desktop .horizontal-menu-item>a,
.horizontal-desktop .horizontal-menu-item>a span {
  font-family: arial, helvetica, verdana, sans-serif;
}
button.gwt-Button,
#wrapper button.gwt-Button,
div.ecwid-popup button.gwt-Button,
.ecwid .ecwid-btn--secondary {
  color: #96339e;
}
div.ecwid-productBrowser-auth,
table.ecwid-Checkout-blockTitle button,
div.ecwid-Checkout-PasswordBlock,
div.ecwid-Checkout-blockTitle button.gwt-Button {
  display: block;
}
div.ecwid-productBrowser-categoryPath {
  display: block;
}
div.ecwid-results-topPanel-sortByPanel {
  display: block;
}
div.ecwid-results-topPanel-viewAsPanel {
  display: block;
}
div.ecwid-minicart span.ecwid-minicart-label-text,
div.ecwid-productBrowser-productDragLabel {
  display: block;
}
span.ecwid-productBrowser-cart-weight,
span.ecwid-Invoice-productDescr-weight {
  display: none;
}
div.ecwid-minicart-mini-rolloverContainer {
  display: none;
}
div.ecwid-productBrowser-head {
  color: #8711c5;
  font-size: 15px;
  font-family: 'trebuchet MS', helvetica, verdana, sans-serif;
  font-weight: bold;
}
div.ecwid-productBrowser div.ecwid-productBrowser-productNameLink a,
div.ecwid-productBrowser div.ecwid-productBrowser-productNameLink a:link,
div.ecwid-productBrowser div.ecwid-productBrowser-productNameLink a:active,
div.ecwid-productBrowser div.ecwid-productBrowser-productNameLink a:visited {
  color: #8725ad;
  font-family: 'trebuchet MS', helvetica, verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.ecwid-productBrowser-productsGrid-cell div.ecwid-productBrowser-productNameLink a,
.ecwid-productBrowser-productsGrid-cell div.ecwid-productBrowser-productNameLink a:link,
.ecwid-productBrowser-productsGrid-cell div.ecwid-productBrowser-productNameLink a:active,
.ecwid-productBrowser-productsGrid-cell div.ecwid-productBrowser-productNameLink a:visited {
  color: #8725ad;
  font-family: 'trebuchet MS', helvetica, verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
div.ecwid-productBrowser-productsList-details div.ecwid-productBrowser-productNameLink a,
div.ecwid-productBrowser-productsList-details div.ecwid-productBrowser-productNameLink a:link,
div.ecwid-productBrowser-productsList-details div.ecwid-productBrowser-productNameLink a:active,
div.ecwid-productBrowser-productsList-details div.ecwid-productBrowser-productNameLink a:visited {
  color: #8725ad;
  font-family: 'trebuchet MS', helvetica, verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productNameLink a,
div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productNameLink a:link,
div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productNameLink a:active,
div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-productNameLink a:visited {
  color: #8725ad;
  font-family: 'trebuchet MS', helvetica, verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
div.ecwid-productBrowser-subcategories-categoryName,
div.ecwid-productBrowser-subcategories-categoryName a,
div.ecwid-productBrowser-subcategories-categoryName a:link,
div.ecwid-productBrowser-subcategories-categoryName a:active,
div.ecwid-productBrowser-subcategories-categoryName a:visited,
div.ecwid-productBrowser-subcategories-categoryName span.gwt-InlineLabel {
  color: #8725ad;
  font-family: 'trebuchet MS', helvetica, verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
div.ecwid-productBrowser-productNameLink a,
div.ecwid-productBrowser-productNameLink a:link,
div.ecwid-productBrowser-productNameLink a:active,
div.ecwid-productBrowser-productNameLink a:visited {
  display: block;
}
div.ecwid-productBrowser-subcategories-categoryName {
  display: block;
}
div.ecwid-productBrowser-cart div.ecwid-productBrowser-productNameLink a,
div.ecwid-productBrowser-cart div.ecwid-productBrowser-productNameLink a:link,
div.ecwid-productBrowser-cart div.ecwid-productBrowser-productNameLink a:active,
div.ecwid-productBrowser-cart div.ecwid-productBrowser-productNameLink a:visited {
  color: #4b5660;
  font-size: 11px;
  font-family: tahoma, geneva, verdana, sans-serif;
}
.ecwid div.ecwid-productBrowser-details-descr h1,
.ecwid div.ecwid-productBrowser-details-descr h2,
.ecwid div.ecwid-productBrowser-details-descr h3,
.ecwid div.ecwid-productBrowser-details-descr h4,
.ecwid div.ecwid-productBrowser-details-descr h5,
.ecwid div.ecwid-productBrowser-details-descr h6,
.ecwid div.ecwid-productBrowser-categoryDescription h1,
.ecwid div.ecwid-productBrowser-categoryDescription h2,
.ecwid div.ecwid-productBrowser-categoryDescription h3,
.ecwid div.ecwid-productBrowser-categoryDescription h4,
.ecwid div.ecwid-productBrowser-categoryDescription h5,
.ecwid div.ecwid-productBrowser-categoryDescription h6 {
  color: #661b9d;
  font-family: arial, helvetica, verdana, sans-serif;
}
div.ecwid-productBrowser-sku,
td.ecwid-productBrowser-productsTable-sku,
span.ecwid-Invoice-productDescr-sku,
div.ecwid-OrdersList-OrderBox-sku {
  display: none !important;
}
div.ecwid-productBrowser-price,
div.ecwid-productBrowser-cart-totalAmount {
  color: #6d159d !important;
}
div.ecwid-productBrowser-price,
div.ecwid-productBrowser-cart-totalAmount {
  font-family: arial, helvetica, verdana, sans-serif;
}
.ecwid-productBrowser-productsGrid-cell div.ecwid-productBrowser-price,
div.ecwid-productBrowser-productsList-details div.ecwid-productBrowser-price,
div.ecwid-productBrowser-productsTable div.ecwid-productBrowser-price {
  font-size: 20px;
}
div.ecwid-productBrowser-cart-totalAmount {
  font-size: 15px;
}
div.ecwid-productBrowser-backgroundedPanelInner div.ecwid-productBrowser-price {
  font-size: 15px;
}
div.ecwid-productBrowser-cart table.ecwid-productBrowser-cart-itemsTable div.ecwid-productBrowser-price {
  color: #8043ad !important;
}
div.ecwid-productBrowser-cart table.ecwid-productBrowser-cart-itemsTable div.ecwid-productBrowser-price {
  font-family: arial, helvetica, verdana, sans-serif;
}
div.ecwid-productBrowser-cart table.ecwid-productBrowser-cart-itemsTable div.ecwid-productBrowser-price {
  font-size: 18px;
}
div.ecwid-productBrowser-details-inStockLabel {
  color: #661da5;
}
div.ecwid-productBrowser-details-inStockLabel {
  display: block;
}
div.ecwid-productBrowser-details-outOfStockLabel {
  display: block;
}
div.ecwid-productBrowser-details-inTheBag div {
  color: #611b9d;
  left: 20px;
  top: 20px;
  font-size: 15px;
  font-family: arial, helvetica, verdana, sans-serif;
}
.ecwid,
.ecwid ul,
.ecwid ol,
.ecwid dl,
.ecwid ul li,
.ecwid ol li,
.ecwid dl dt,
.ecwid dl dd,
.ecwid hr,
.ecwid blockquote,
.ecwid h1,
.ecwid h2,
.ecwid h3,
.ecwid h4,
.ecwid h5,
.ecwid h6,
.ecwid p,
.ecwid sup,
.ecwid sub,
.ecwid address,
.tiles > [data-block] {
  color: #423743;
  font-size: 18px;
  font-family: arial, helvetica, verdana, sans-serif;
  font-weight: bold;
}
.ecwid a,
.ecwid a:active,
.ecwid a:visited {
  color: #82267f;
}
div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel-link {
  color: #82267f;
}
div.ecwid-productBrowser-categoryPath a,
div.ecwid-productBrowser-categoryPath a:link,
div.ecwid-productBrowser-categoryPath a:active,
div.ecwid-productBrowser-categoryPath a:visited {
  color: #82267f;
}
div.popupContent .ecwid a,
div.popupContent .ecwid a:active,
div.popupContent .ecwid a:visited {
  color: #82267f;
}
span.ecwid-minicart-mini-count,
div.ecwid-productBrowser-auth a,
div.ecwid-productBrowser-auth a:link,
div.ecwid-productBrowser-auth a:active,
div.ecwid-productBrowser a:visited {
  color: #82267f;
}
.tiles a,
.tiles .caption a {
  color: #82267f;
}
.ecwid a,
.ecwid a:active,
.ecwid a:visited {
  text-decoration: none;
}
div.ecwid-results-topPanel div.ecwid-results-topPanel-viewAsPanel-link {
  text-decoration: none;
}
div.ecwid-productBrowser-categoryPath a,
div.ecwid-productBrowser-categoryPath a:link,
div.ecwid-productBrowser-categoryPath a:active,
div.ecwid-productBrowser-categoryPath a:visited {
  text-decoration: none;
}
div.popupContent .ecwid a,
div.popupContent .ecwid a:active,
div.popupContent .ecwid a:visited {
  text-decoration: none;
}
span.ecwid-minicart-mini-count,
div.ecwid-productBrowser-auth a,
div.ecwid-productBrowser-auth a:link,
div.ecwid-productBrowser-auth a:active,
div.ecwid-productBrowser a:visited {
  text-decoration: none;
}
.tiles a,
.tiles .caption a {
  text-decoration: none;
}
.ecwid a:hover {
  text-decoration: none;
}
div.ecwid-productBrowser-categoryPath a:hover {
  text-decoration: none;
}
div.popupContent .ecwid a:hover,
.tiles a:hover,
.tiles .caption a:hover {
  text-decoration: none;
}
